body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    width: 100%;
}

h1 {
    color: #202020;
    font-size: 24px;
    font-weight: bold;
    font-family: Open Sans, helvetica, 'Segoe UI', sans-serif, arial;
    margin: 10px 8px;
}

h3 {
    margin: 10px 0;
}

td
{
  font-size: 13px;
  vertical-align: top;
  text-align: left;
}

button
{
  white-space: pre;
}

label {
  display: inline-flex;
}

#tracking-domains-filters label {
    display: inline;
}

p, #settingsForm {
    margin: 10px 0;
}

#whitelistForm {
    margin: 20px 0 0;
}

header, #tabs {
    max-width: 800px;
    margin: 0 auto;
}

#pbInstructions {
  margin-bottom: 20px;
}

#tab-manage-data {
  overflow: auto;
}

.btn-danger {
  color: #e02431;
  border-width: 1px;  
}

.btn-danger:hover {
  color: #e02431;
  background: rgba(224, 36, 49, 0.08);
}

.importInput{
  visibility: hidden;
  height: 0;
  width: 0;
}

#blockedResources {
  width: 390px;
}

#tracking-domains-filters {
    color: #505050;
    font-size: 14px;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    max-width: 390px;
}

#tracking-domains-filters li {
    margin: 5px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#tracking-domains-filters > li > label {
    flex: 1 0 150px; /* at least this wide */
    max-width: 150px; /* at most this wide */
}

#tracking-domains-filters > li > label + * {
    flex: 1 0 200px; /* at least this wide or wrap */
}

.clickerContainer {
    max-height: 400px; /* override popup.css */
}

#check-dnt-policy-row {
    margin-left: 25px;
}

a, a:hover, a:active, a:visited{
  color: #00aaaa;
  text-decoration: underline;
}

.option_section {
  border-bottom: 1px solid #DCDCDC;
  margin: 1rem 0rem 1.5rem 0;
  padding: 0rem 0rem 1.5rem 0;
}